{% extends "app/base.html" %}

{% block title %}Frost Dates | Autonomous Agriculture{% endblock %}


{% block content %}
<div class="row">
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block sidenav">
        <ul class="list-group sticky-top">
            <a href="/settings/attributes">Attributes</a>
            <a href="/settings/frost_dates">Frost Dates</a>
        </ul>
    </div>
    <div class="col">
        <div class="body">
            <div class="dash">
                <h1 class="title">
                    Frost Dates
                </h1>
               
                {{dash_html|safe}}</div>
            <br>
        </div>
    </div>
</div>
{% endblock %}
