{% extends "app/base.html" %}

{% block title %}Frost Dates | Autonomous Agriculture{% endblock %}


{% block content %}
<!--
<div class="card">
    <form method="POST" class="needs-validation" novalidate>
        <input type="submit" value="Add New" class="body_style">
        <input type="text" id="name" name="name" class="body_style" placeholder="Name of plant" required><br>
        
        <input type="radio" id="indoors" name="start" value="indoors" class="body_style" required>
        <label for="indoors">Indoors</label>
        <input type="radio" id="outdoors" name="start" value="outdoors" class="body_style" required>
        <label for="indoors">Outdoors</label><br>

        <input type="radio" id="warm" name="season" value="warm" class="body_style" required>
        <label for="indoors">Warm</label>
        <input type="radio" id="cold" name="season" value="cold" class="body_style" required>
        <label for="indoors">Cold</label><br>

        <input type="number" id="min_temp" name="min_temp" class="body_style" placeholder="min_temp" required>
        <input type="number" id="max_temp" name="max_temp" class="body_style" placeholder="max_temp" required><br><br>

        <input type="number" id="spring_sow" name="spring_sow" class="body_style" placeholder="spring_sow" required>
        <input type="number" id="spring_transplant" name="spring_transplant" class="body_style" placeholder="spring_transplant" required>
        <input type="number" id="fall_sow" name="fall_sow" class="body_style" placeholder="fall_sow" required><br><br>

        <input type="number" step="0.01" id="cal_g" name="cal_g" class="body_style" placeholder="calories/gram" required>
    </form>
</div>
-->
<div class="row">
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block sidenav">
        <ul class="list-group sticky-top">
            <a href="/settings/attributes">Attributes</a>
            <a href="/settings/frost_dates">Frost Dates</a>
        </ul>
    </div>
    <div class="col">
        <div class="body">
            <div class="dash">
                <h1 class="title">
                    Frost Dates
                </h1>
                {{dash_html|safe}}</div>
            <br>
        </div>
    </div>
</div>
{% endblock %}
